<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.5/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.5/js/uikit.min.js"></script>

        <!-- Codemirror and marked dependencies -->
        <link rel="stylesheet" href="	https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.56.0/codemirror.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.56.0/codemirror.js"></script>
        <script src="	https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.56.0/mode/markdown/markdown.js"></script>
        <script src="	https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.56.0/addon/mode/overlay.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.56.0/mode/xml/xml.js"></script>
        <script src="	https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.56.0/mode/gfm/gfm.js"></script>
        <script src="	https://cdnjs.cloudflare.com/ajax/libs/marked/1.1.1/marked.js"></script>

        <!-- HTML editor CSS and JavaScript -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.5/css/components/htmleditor.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.5/js/components/htmleditor.js"></script>
    
</head>
<body>
    <div class="container">

      {% if success %}
      <br />
      <div class="alert alert-success" role="alert">
        <p>Successful Created Post</p>
      </div>
      {% endif %}
      <br />
      <a type="button" href="/"  class="btn btn-primary">Back to Home</a>
        <form  action="/createpost  " enctype="multipart/form-data" method="post">
            <h1> Create Post</h1>
        <div class="mb-3">
            <label class="form-label">Feature Image</label>
            <input class="form-control form-control-lg"  name="file" type="file" accept="image/*">
            <label class="form-label">Category</label>
            <select name="category" class="form-select" aria-label="Default select example">
            {% for i in dirs%}

                {% if i in categorySelect %}
                <option selected>{{i}}</option>
                {% else %}
                <option>{{i}}</option>
                {% endif %}

                {% endfor %}
        
              </select>
              <label class="form-label">Feature Image File</label>
              <input type="text" name="featureimage" class="form-control" value="{{featureImage}}"  placeholder="Title" readonly>

              <label class="form-label">Title</label>
              <input type="text" name="title" class="form-control" value="{{title}}"  placeholder="Title" required>

              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <p >
                    |       |       
               <br />
                    | :------------- | :----------: 
                  </p>
                </div>
              </div>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label" value=>Content</label>
            <textarea  type="text" placeholder="Content" name="content" rows="20"  required data-uk-htmleditor="{markdown:true,mode:'tab'}">{{content}}</textarea>
            
          </div>

          
          <button type="submit" formaction="Updatedpost" class="btn btn-primary" required>Submit</button>
        </form>
</body>
</html>
